<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- 配置文件  -->
  <context-param>
  	<param-name>configPath</param-name>
  	<param-value>WEB-INF/config.xml</param-value>
  </context-param>
 
 
  <!-- MVC控制器 -->
  <servlet>
  	<servlet-name>actionServlet</servlet-name>
  	<servlet-class>com.wbh.mvc.controller.ActionServlet</servlet-class>
  	<load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>actionServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- 自动注参过滤器 -->
  <filter>
  	<filter-name>autoParam</filter-name>
  	<filter-class>com.wbh.mvc.filter.AutoParamFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>autoParam</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  <!-- 配置sesion的监听器-->
  <listener>
  	<listener-class>com.wbh.listener.SessionListener</listener-class>
  </listener>
  <!-- 配置session的延时 -->
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
</web-app>
